services:

  #PHP Service
  linky-app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: digitalocean.com/php
    container_name: linky-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - linky-network
    links:
      - linky-db

  #Nginx Service
  linky-nginx:
    image: nginx:alpine
    container_name: linky-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - linky-network

  #MySQL Service
  linky-db:
    image: mysql:8.0
    container_name: linky-db
    restart: unless-stopped
    tty: true
    command: --default-authentication-plugin=mysql_native_password
# Uncomment if you want to expose the port.
#    ports:
#      - '${DB_PORT}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql/
      - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - linky-network

#Docker Networks
networks:
  linky-network:
    driver: bridge
#Volumes
volumes:
  dbdata:
    driver: local
